<nav class="bg-withe">
<nav class="navbar navbar-expand-lg bg-white" >
  <div class="container-fluid" style="overflow-x: auto;">
<a class="navbar-brand text-info" href="/Educacion">Educacion</a>
<a class="navbar-brand text-info" href="/Politica">Politica</a>
<a class="navbar-brand text-info" href="/Registrar">Registrar</a>
<a class="navbar-brand text-info" href="/Salud">Salud</a>
<a class="navbar-brand text-info" href="/Usuarios">Usuarios</a>
<div class="collapse navbar-collapse " id="navbarNav">
    </div>
  </div>
</nav>
<router-outlet></router-outlet> 