<div class="card mt-5">
    <div class="card-header">
        {{this.isNew ? "Register Salud" : "Update Salud"}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="submitSalud(forma)" #forma="ngForm" class="row g-3">
<div class="col-md-6">
<label for="label-id_salu"  class="form-label">id_salu:</label>"
<input #inputid_salu="ngModel"  type="text" name="id_salu" [ngClass]="{'is-invalid': inputid_salu.touched && inputid_salu.hasError('required') }" [(ngModel)]="salud.id_salu" class="form-control" id="id_salu" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-comomejorarias"  class="form-label">comomejorarias:</label>"
<input #inputcomomejorarias="ngModel"  type="text" name="comomejorarias" [ngClass]="{'is-invalid': inputcomomejorarias.touched && inputcomomejorarias.hasError('required') }" [(ngModel)]="salud.comomejorarias" class="form-control" id="comomejorarias" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-estasvacunado"  class="form-label">estasvacunado:</label>"
<input #inputestasvacunado="ngModel"  type="text" name="estasvacunado" [ngClass]="{'is-invalid': inputestasvacunado.touched && inputestasvacunado.hasError('required') }" [(ngModel)]="salud.estasvacunado" class="form-control" id="estasvacunado" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-cuandofue"  class="form-label">cuandofue:</label>"
<input #inputcuandofue="ngModel"  type="text" name="cuandofue" [ngClass]="{'is-invalid': inputcuandofue.touched && inputcuandofue.hasError('required') }" [(ngModel)]="salud.cuandofue" class="form-control" id="cuandofue" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-md-6">
<label for="label-creshaber"  class="form-label">creshaber:</label>"
<input #inputcreshaber="ngModel"  type="text" name="creshaber" [ngClass]="{'is-invalid': inputcreshaber.touched && inputcreshaber.hasError('required') }" [(ngModel)]="salud.creshaber" class="form-control" id="creshaber" value="" required>
<div class="invalid-feedback">
                Field required
            </div>
        </div>
<div class="col-12 text-center">
            <button class=" btn btn-primary" type="submit" [disabled]="forma.invalid">{{this.isNew ? "Register" : "Update"}}</button>
            <button style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="limpiarForm(forma)">Clear</button>
            <button *ngIf="!this.isNew" style="margin-left: 10px;" class=" btn btn-danger" type="button" (click)="emitChange.emit()">Cancel</button>
          </div>
      </form>
    </div>
</div>
<router-outlet></router-outlet> 
